@import '../../assets/variable.scss';
@import '../../assets/mixins.scss';
@import '../../assets/breakpointManager.scss';

.skills-component {
  position: relative;
  height: auto;

  &__child {
    margin-top: 100px;
    background-color: $White-smoke;
    opacity: 0.9;  
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    &--content {
     margin: 20px 20% 10px 20%;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap; 
     width: 60%;
    }


    &--details {
      width: 50%;
    }

    &--percentage {
      width: 50%
    }

  }

  .two {
    width: 100%;
    margin-bottom: 50px;
  }

  &--header {
    @include header(30px);
  }

  &--description {
    @include description;
    width: 80%;
  }
 
  .one::before,
  .one::after {
    @include circleBottom(#FCFCFC, 80px, 30px);
  }

  .two::before,
  .two::after {
    @include circleBottom( $White-smoke, 0, 30px);
  }
 
  .two:after {
    @include circleTop( $White-smoke, 75px, -20px);
  }

  .one:after {
    @include circleTop( #FCFCFC, 155px, -20px);
  }

  @include for-small {
    &__child {
      &--details {
        width: 100%;
      }
  
      &--percentage {
        width: 100%
      }
    }

    &--description {
      width: 100%;
    }
  }
}
