.nav-bar-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10% 0 10%;


  .active {
    color: #4D62D3;
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
    }

    span {
      text-decoration: none;
      color: black;
      font-size: 11px;
      font-weight: 600;
      cursor: pointer;
    }

    li {
      margin-right: 20px;
    }
  }

  @media only screen and (max-width: 1000px) {
    nav {
      display: none;
    }
    display: none;
  }
}
