@import '../../assets/breakpointManager.scss';

.nav-bar-component {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .active {
    color: #2967C1;
  }

  .tips {
    background-color: #2967C1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show {
    visibility: visible;
  }

  .hide {
    visibility: hidden;
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
    }

    span {
      text-decoration: none;
      color: black;
      font-weight: 600;
      cursor: pointer;
    }
  }

  @include for-small {
    nav {
      display: none;
    }
    display: none;
  }
}
