@import '../../assets/mixins.scss';
@import '../../assets/breakpointManager.scss';

.works-component {
  position: relative;
  height: auto;

  .triangle {
    clip-path: polygon(50% 62%, 0% 100%, 100% 100%);
  }

  .triangle:nth-child(1) {
    height: 200px;
    width: 200px;
  }

  .triangle:nth-child(2) {
    height: 100px;
    width: 100px;
  }

  &__content {
    margin: 20px 20% 10px 20%;
    display: flex;
    flex-direction: column;
    height: 800px;
    position: relative;
    height: auto;

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--title {
      @include header(0);
    }

    &--body {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        width: 200px;
        height: 200px;
      }
    }
   }

  .work {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .triangle:nth-child(3) {
    height: 200px;
    width: 200px;
  }

  &__triangle {
    display: flex;
    flex-direction: column;
  }

  @include for-small {
    &__content {

      &--body {
        justify-content: center;
      }
     }
  }
}
