@import '../../assets/breakpointManager.scss';

.service-component {
  display: flex;
  position: relative;
  height: auto;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 20% 0 20%;
    padding-top: 50px;
    width: 100%;

    &--header {
      display: flex;
      font-size: 25px;
      font-weight: 300;
    }

    &--service-cards {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 20px;
    }
  }

  @include for-small {
    &__content {
      &--service-cards {
        justify-content: center;
      }

      &--header {
        justify-content: center;
      }
    }
  }
}
