@import '../../assets/breakpointManager.scss';

.hamburger-component {
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px rgb(44, 62, 80) solid;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .line {
    width: 20px;
    height: 2px;
    background: rgb(44, 62, 80);
    border: none;
    transition: 0.5s;

    &--1 {
      margin-bottom: 3px;
      transition-delay: 0.2s;
    }

    &--2 {
      margin-bottom: 3px;
      transition-delay: 0.2s;
    }

    &--3 {
      margin-bottom: 0;
      transition-delay: 0.3s;
    }
  }
  
  #btn-1:checked ~ label .line--1{
    width: 20px;
    transform:  translate(0px,5px)  rotate(45deg);
    transition-delay: 0.1s;
  }
  
  #btn-1:checked ~ label .line--2{
    width: 0;
    transition-delay: 0.3s;
  }
  
  #btn-1:checked ~ label .line--3{
    width: 20px;
    transform: translate(0px,-5px) rotate(-45deg);
    transition-delay: 0.4s;
  }

  @include for-large {
    display: none; 
  }  
}
